<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/tiledev/2-9/index.html"><%= vars.product_name %> Tile Developer Guide</a>
      </li>
      <li>
        <a href="/tiledev/2-9/release-notes.html"><%= vars.product_name %> v2.8 Partners Release Notes</a>
      </li>

      <li class="has_submenu">
        <span role="button"><strong>Tile Basics</strong></span>
        <ul>
          <li>
            <a href="/tiledev/2-9/tile-basics.html">Tile Basics</a>
          </li>
          <li>
            <a href="/tiledev/2-9/cf-concepts.html">How <%= vars.product_name %> and <%= vars.product_name %> Services Work</a>
          </li>
          <li>
            <a href="/tiledev/2-9/tile-structure.html">How Tiles Work</a>
          </li>
         <li>
           <a href="/tiledev/2-9/odb-resource-defaults.html">Configuring Disk and VM Type Defaults for On-Demand Service Tiles</a>
          </li>
          <li>
            <a href="/tiledev/2-9/runtime-config.html">Managing Runtime Configs</a>
          </li>
          <li>
            <a href="/tiledev/2-9/testing.html">Tile Testing</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <span role="button"><strong>Types of Integration</strong></span>
        <ul>
          <li>
            <a href="/tiledev/2-9/stages.html">Types of Integration</a>
          </li>
          <li>
            <a href="/tiledev/2-9/user-provided.html">User-Provided Service</a>
          </li>
          <li class="has_submenu">
            <span role="button"><strong>Brokered Service</strong></span>
            <ul>
              <li>
                <a href="/tiledev/2-9/brokered.html">Brokered Service</a>
              </li>
            </ul>
           </li>
          <li class="has_submenu">
            <span role="button"><strong>Managed Service</strong></span>
            <ul>
              <li>
                <a href="/tiledev/2-9/managed.html">Managed Service</a>
              </li>
              <li>
                <a href="/tiledev/2-9/bosh-release.html">BOSH Releases</a>
              </li>
              <li>
                <a href="/tiledev/2-9/tile-errands.html">Errands</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/tiledev/2-9/on-demand.html">On-Demand Service</a>
          </li>
          <li>
            <a href="/tiledev/2-9/buildpacks.html">Buildpacks</a>
          </li>
          <li class="has_submenu">
            <span role="button"><strong>CredHub</strong></span>
            <ul>
              <li>
                <a href="/tiledev/2-9/credhub.html">CredHub</a>
              </li>
              <li>
                <a href="/tiledev/2-9/create-credhub-vars.html">Creating New Variables in CredHub</a>
              </li>
              <li>
                <a href="/tiledev/2-9/migrating-credhub-credentials.html">Migrating Existing Credentials to CredHub</a>
              </li>
              <li>
                <a href="/tiledev/2-9/get-credhub-vars.html">Fetching Variable Names and Values</a>
              </li>
              <li>
                <a href="/tiledev/2-9/ssi-creds-tiledev.html">Securing Service Credentials with Runtime CredHub</a>
              </li>
          <li>
            <a href="/tiledev/2-9/embedded-agents.html">Embedded Agents</a>
          </li>
          <li>
            <a href="/tiledev/2-9/nozzle.html">Logs, Metrics, and Nozzles</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/tiledev/2-9/migrating-syslog-configuration.html"> Syslog: Migrating Existing Configuration</a>
      </li>
        </ul>
      </li>

      <li class="has_submenu">
        <span role="button"><strong>Service Brokers</strong></span>
        <ul>
          <li>
            <a href="/tiledev/2-9/service-brokers.html">Service Broker Resources</a>
          </li>
          <li>
            <a href="/brokers/2-9/examples.html">Example Service Brokers</a>
          </li>
          <li>
            <a href="/brokers/2-9/binding-credentials.html">Binding Credentials</a>
          </li>
          <li>
            <a href="/brokers/2-9/enable-sharing.html">Enabling Service Instance Sharing</a>
          </li>
          <li>
            <a href="/brokers/2-9/dashboard-sso.html">Dashboard Single Sign-On</a>
          </li>
          <li>
            <a href="/brokers/2-9/route-services.html">Route Services</a>
          </li>
          <li>
            <a href="/brokers/2-9/app-log-streaming.html">Application Log Streaming</a>
          </li>
          <li>
            <a href="/brokers/2-9/supporting-multiple-cf-instances.html">Supporting Multiple Cloud Foundry Instances</a>
          </li>
          <li class="has_submenu">
            <span role="button"><strong>Service Broker API</strong></span>
            <ul>
              <li>
                 <a href="https://github.com/openservicebrokerapi/servicebroker/blob/v2.15/spec.md">Open Service Broker API</a>
              </li>
              <li>
                 <a href="https://github.com/openservicebrokerapi/servicebroker/blob/v2.15/profile.md">Platform Profiles</a>
              </li>
              <li>
                 <a href="https://github.com/openservicebrokerapi/servicebroker/blob/v2.15/profile.md#service-metadata">Catalog Metadata</a>
              </li>
              <li>
                 <a href="https://github.com/openservicebrokerapi/servicebroker/blob/v2.15/spec.md#volume-mounts-object">Volume Services</a>
              </li>
              <li>
                 <a href="https://github.com/openservicebrokerapi/servicebroker/blob/v2.15/release-notes.md">Release Notes</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <span role="button"><strong>Development Tools</strong></span>
        <ul>
          <li>
            <a href="/tiledev/2-9/tools.html">Development Tools</a>
          </li>
          <li>
            <a href="/tiledev/2-9/environments.html"> Development Environments</a>
         </li>
          <li>
            <a href="/tiledev/2-9/tile-generator.html">Tile Generator</a>
          </li>
          <li>
            <a href="/tiledev/2-9/pcf-command.html"><%= vars.product_name_lc %> Command Line Utility</a>
          </li>
          <li>
            <a href="/tiledev/2-9/concourse.html">Continuous Integration Testing</a>
          </li>
          <li>
            <a href="/tiledev/2-9/sdk.html"><%= vars.product_name %> Services SDK</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <span role="button"><strong>Publish and Update</strong></span>
        <ul>
          <li>
            <a href="/tiledev/2-9/publish.html">Publish and Update</a>
          </li>
           <li>
           <a href="/tiledev/2-9/tile-documentation.html">Creating Tile Documentation</a>
          </li>
          <li>
            <a href="/tiledev/2-9/releases.html">Partner Software Product Release Cycle</a>
          </li>
          <li>
            <a href="/tiledev/2-9/tile-upgrades.html">Upgrading Tiles</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <span role="button"><strong>Reference</strong></span>
        <ul>
          <li>
            <a href="/tiledev/2-9/reference.html">Reference</a>
          </li>
          <li>
            <a href="/tiledev/2-9/property-template-references.html">Property and Template References</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/tiledev/2-9/contacts.html">Contact Us</a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
